<form>
	<div class="form-row">
	  <div class="col-auto">
	    <input type="text" class="form-control" placeholder="">
	  </div>
	  <div class="col-auto">
	    <button class="btn btn-primary" ng-click="$ctrl.openWin()">кнопка</button>
	  </div>
	</div>
</form>
<form>
	<div class="form-row invisible second">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="name" ng-model="search">
        <table class="table">
        	<tr>
        		<th>Имя</th>
        	</tr>
        	<tr ng-repeat="name in $ctrl.names | filter:search">
        		<td>{{name.name}}</td>
        	</tr>
        </table>
      </div>
    </div>
</form>