<form>
	<div class="form-row">
	  <div class="col-auto">
	    <input type="text" class="form-control" value={{nameSelected}} name={{nameId}} placeholder="нажми кнопку">
	  </div>
	  <div class="col-auto">
	    <button class="btn btn-primary" ng-click="$ctrl.showModal()">кнопка</button>
	  </div>
	</div>
</form>


<div ng-hide="hide" class="modal-form-container">
    <form class="modal-form">
      	<input type="text" class="form-control" autofocus="" placeholder="name" ng-model="search" >
	    <table class="table">
	    	<tr>
	    		<th>ID</th>
	    		<th>Имя</th>
	    	</tr>
	    	<tr ng-repeat="name in $ctrl.names | filter:search">
	    		<td>{{name.id}}</td>
	    		<td ng-click="$ctrl.selectItem(name)">{{name.name}}</td>
	    	</tr>
	    </table>
    </form>
</div>

<div ng-hide="hide" class="cover-div"></div>